body {
  font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    background-color: white;
  }
  h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #15104a;
    text-align: center;
    padding: 3px;
  }
  h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #15104a;
    text-justify: center;
  }
  h4{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: #15104a;
    padding:10px;
    text-justify: center;
  }

 /*=========================================HOME =============================================*/  
  #home {
    background: url(../images/pozadi3.jpg) center/cover no-repeat;
    height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
#home_jmeno{
  display: flex;
 padding: 15px; 
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
h1 {
 z-index: 1;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 5px 5px 10px #f5a100;

  }  
  #ja{
    padding-right: 15px; 
display: flex;
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;

  }  
 #ja img{
  max-height: 800px;
width: auto;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
justify-items: center;
z-index: 0;
 }
  #bublina {
    position: absolute;
    top: 100px;
   right: 730px;
    max-width: 400px;
  }

   /*========================================= NAVBAR =============================================*/
   #person {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 10px #f5a100;
   }
   .navbar {
    background: #15104a;}
  
  .navbar-brand {
    color: #15104a;
    font-size: 20px;
    font-weight: bold; }
  
  .navbar-toggler-icon {
    color: white; }
  
  .navbar-toggler {
    color: white; }
  
  .navbar a {
    color: white;
    font-weight: bold;
     }
    .nav-link{
      
    }
/*=========================================SKILLS=============================================*/
/*.tecnology{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  flex:1 0;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
.tech{
  flex: 0 0 auto;
  padding: 0 0.8rem;
  margin-top: 2rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}*/
#skills{
  width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.obal{
  padding: 20px;
  display: flex;
 // flex-direction: row;
 flex-direction: column;
justify-content: center;
  
 //margin: 0 auto;
 //  margin: auto 0;
}
.nadpis{
  padding: 35px;
  width: 100%;
  
  flex-direction: row;
  justify-self: center;
  text-align: center;
  padding: 15px;
}
.nadpis_pozadi{
  
  width: 100%;
aspect-ratio: 2000 / 100;
background-image: url(../images/retro.png);
background-size: cover;
align-content: center;
background-position: center;
background-repeat: no-repeat;
}
.pozadi {
  margin-bottom: 20px;
  margin-top: 20px;
  margin: 0 auto;
  padding: 35px;
  flex-direction: column;
  align-self: center;
  align-content: center;
align-items: center;
width: 80%;
height: 100px;
background: url(../images/retro.png) center no-repeat;
}
.prog-j{
  width: 100%;
  display: flex;
 flex-direction: row;
 justify-content:space-between;
// align-content: flex-start;
//margin: 0 auto;  
//margin:auto 0;
}
.boxik{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 justify-content:flex-start;
  align-content: center;
  justify-items: center;
  align-items: center;
//margin: 0 auto;
//margin:auto 0;
}
.programy {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 justify-content:flex-start;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.pr{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 10px;
  width: 120px;
  min-height: 120px;
  padding: 15px;
  border:#15104a solid 1px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(27, 27, 94, 0.7);
}

.pr img {
  width:90%;
 padding-top: 0px; 
 padding-bottom: 0px;
}





   /*========================================= ABOUT =============================================*/
   #about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-pozadi{
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
.container-pozadi h2{
  padding-bottom: 0px;
  padding-top: 20px;
color: white;
text-shadow: 5px 5px 10px #f5a100;
  }
  .container-pozadi h3{
    color: white;
    text-align: center;
  }

.seznam{
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: bold;
}
   .psaci{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.container-about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*========================================= HOBBIES =============================================*/
#hobbies{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


   /*========================================= PROJECTS =============================================*/
#projects{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.card{
  border-color: #15104a;
  border-width: 2px;
}
.card p{
  font-family: 'Libre Baskerville', serif;
    font-size: 16px;
}
.card-text{
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: black;
}
.card footer{
  background-color: lightblue;
  border-color: #15104a;
  border-width: 2px;
}

h5 {
  font-weight: bold;
  font-family: 'Alfa Slab One', cursive;
  color: #15104a;
  text-align: center;
  font-size: 1.8rem;
}

 /*========================================= MORE =============================================*/
#more{
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

.kolotoce{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.pravy-carusel{
 width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.levy-carusel{
width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carusel-text{
  width: 100%;
  padding: 30px;
  background: url(../images/wall.jpg) center/cover no-repeat ;
  display: flex;
 flex-direction: column;
 align-content: center;
}

.kolotoc{
  padding: 30px;
 background-color: #15104a;
 width: 100%;
  flex-direction: row;
 justify-content: center;
}
.carouselBody {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: grid;
  /* šířka je nastavená na 100% čehokoliv, kam tento carousel vložíš, omezeno pouze maximální šířkou 440px*/
  /* Velikost lze měnit, ale pozor, je třeba přepočítat i aspect ratio a další hodnoty podle vzorce níže:*/
  /* 1. carousel ma padding a gap 20px */
  /* 2. obrazek zabira 100% carouselu a ma aspect ratio 1/1 */
  /* 3. spodni bunka gridu ma velikost zavisejici na velikosti pisma, ktere pouzijete */
  /* 4. tlacitka prev a next maji absolutni pozici, v zavislosti na velikosti a druhu pisma ve spodni bunce tabulky je treba upravit jejich pozicovani */
  
  aspect-ratio: 600/640;
  background-color: #15104a;
  padding: 20px;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'foto'
    'title';
}
.carousel {
  grid-area: foto;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: flex;
  width: 100%;
  height: 100%;
  /* OBJECT FIT: mate na vyber primarne ze 2 moznosti */
  /* 1. scale-down = obrazek se zmensi natolik, aby se vesel do divu cely se zachovanim pomeru stran*/
  /* 2. cover = roztahne obrazek tak, aby vyplnil cely div a oriznou se presahujici casti obrazku */
  object-fit: scale-down;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
   color: white;
   background: transparent;
   border: 1px solid white;
   font-size: 20px;
   z-index: 2;
   position: absolute;
   /* pozice tlacitka, kde 100% znamena, ze se daji na samotny okraj obrazky a nasledne prictete o kolik pixelu od obrazku se maji jeste dodatecne posunout */
   top: calc(100% + 15px);
}
.carousel-button:hover,
.carousel-button:focus {
  background-color: rgba(0, 0, 0, .2);
}
.carousel-button.prev {
  left: 0px;
}
.carousel-button.next {
  right: 0px;
}
.carouselTitle {
   grid-area: title;
   justify-self: center;
   align-self: flex-start;
   color: white;
   margin: 0;
   padding: 0;
}





 /*========================================= navic =============================================*/
#navic{
width: 100%;
background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  min-height: 800px;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
#navic h3{
  color: white;
}
#navic  .container .carousel h2{
    color: white;
      }
      #navic .container{
  padding-left: 30px;
padding-right: 30px;
width: 90%;
justify-content: center;
margin: 0 auto;
color:white;
 } 
 #navic  .project-text{
    justify-content: center;
    width: 600px;
  }
  #navic  .radek{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  #navic  .carousel-text{
    font-size: 1rem;
    color:white;
  }
  #navic  .carousel-inner{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
  }
#navic  .carousel-item{
    height: 600px;
    width: 600px;
    background-color:white;
   /* justify-content: center;
    align-content: center;*/
    margin: 0 auto;
    padding: auto;
  }
  #navic .carousel-item img {
   /* justify-content: center;*/
    margin: 0 auto;
    text-align: center;
  }
  #navic .darker {
    background-color: white;
    padding: 5px;
  }
  #navic .carousel-caption{
    background-color: rgba(8, 8, 29, 0.7);
  }



 /*========================================= CONTACTS =============================================*/
 #contact {
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  min-height: 750px;
  position: relative;
 
 /* background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;*/
}

.contact-bg {
 align-self: center;
    width: 900px;
    margin: 20px;
    border: 2px #15104a;
    border-radius: 20px;
      padding: 5px;
      background-color: rgba(8, 8, 29, 0.7);
      font-weight: bold;
        overflow: hidden;
      font-size: 2rem; 
    }

  label {
      font-family: 'Libre Baskerville', serif;
      font-size: 16px;
      color: white;
    }











 /*=========================================media=============================================*/ 
 @media screen and (max-width: 2000px) {
  #bublina {
   right: 500px;

  }
   }
   @media screen and (max-width: 1600px) {
    #bublina {
     right: 450px;
  
    }
     }

     @media screen and (max-width: 1400px) {
      .pozadi {
       height: 70px;
       padding-top: 15px;
       width: 100%;
      }
       }
 
 @media screen and (max-width: 1200px) {
#home {
  display: inline-block;
}
#ja{
  display: block;
  position: absolute;
 top: 10px;
  right: -70px;
  z-index: 1;
}
#ja img{
  z-index: 1;
}
#home_jmeno h1{
  z-index: 2;
}
#home_jmeno{
  display: block;
  position: absolute;
  top:490px;
  left: 20px;
  z-index: 2;
}
#bublina {
  position: absolute;
  top: 100px;
 right: 400px;
  max-width: 350px;
}
 }

 @media screen and (max-width: 1100px) {
  .pozadi {
   height: auto;
   justify-content: center;
  }
   }



@media screen and (max-width: 955px) {
 body {
  font-size: 14px;
 } 
  
  //   home:
  #home {
    height: 600px;
  }
  #home_jmeno{
    top: 440px;
  }
  #ja{
    top: -45px;
    right: -110px;
   }
   #bublina {
    max-width: 280px;
   }
   .nadpis {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 120px;
   }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 35px;
    text-justify: center;
  }
  h4{
    font-size: 28px;
    padding: 0px;
  }
  // technologie:
  .obal{
    padding: 5px;
  }
  .boxik{
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .programy{
    padding: 0px;
  }
  .prog-j{
    padding-left: 10px;
    width: 100%;
    display: flex;
   flex-direction: column;
   justify-content:space-between;
  align-content: flex-start;
  align-items: flex-start;
  //margin: 0 auto;  
  //margin:auto 0;
  }
  .boxik{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   justify-content:flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
  //margin: 0 auto;
  //margin:auto 0;
  }
.programy {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content:flex-start;
   align-items: center;
  }
.pr {
  padding: 10px;
}
.contact-bg {
     width: 85%;
}
}


@media screen and (max-width: 784px) {
  .pozadi{
    height: 100px;
  }
.boxik{
  padding-top: 10px;
  padding-bottom: 5px;
}
  .pr {
    width: 110px;
    margin: 5px;
    flex-wrap: wrap;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
    text-justify: center;
  }
  h4{
    font-size: 23px;
    padding: 0px;
  }
}

@media screen and (max-width: 550px) {
  #bublina {
    display:none;
   }
   #ja{
    top: -45px;
    left: 0px;
   }
   #person {
    font-size: 1.5rem;
   }
   .pozadi{
    height: 140px;
   }
   .contact-bg {
    width: 95%;
}
}