body {
  font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    background-color: white;
  }
  
  h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 45px;
    font-weight: bold;
    color: #15104a;
    text-align: center;
    padding: 3px;
    padding-bottom: 10px;
  }
  h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #15104a;
    text-justify: center;
  }
  h4{
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    font-weight: bold;
    color: #15104a;
    padding:10px;
    text-justify: center;
  }
  h5{
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
    font-weight: bold;
    color: #15104a;
    padding:10px;
    text-justify: center;
  }
h1 {
 z-index: 4;
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 5px 5px 10px #f5a100;
  padding-bottom: 80px;
  }  
 /*=========================================HOME =============================================*/  
  #home {
    background: url(../images/pozadi3.jpg) center/cover no-repeat;
    height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
#bublina {
    width: 300px;
    position: absolute;
    top:70px;
    right:240px;
  } 
#home_jmeno{  
  display: flex;
  flex-direction: column; 
 padding-left: 20px;
  justify-content: center;
  z-index: 4;
  padding-bottom: 110px;
}

  .text-home {
    color: white;
    font-family: 'Alfa Slab One', cursive;
    font-size: 20px;
max-width: 800px;
text-align: center;
text-shadow: 2px 2px 10px #15104a, 0 0 10px #15104a, 0 0 5px #15104a;
padding-bottom: 100px;
padding-left: 50px;
  }

  
  /*========================================= RÁMEČEK =============================================*/
   #ja{
    height: 580px; 
    width: 330px;
    position: absolute;
    top:110px;
    right:30px;
  }  
.picture-ram {
  display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;
  height: 580px; 
  width: 330px; 
  z-index: 1;
  border: solid;
  border-color:  white;
  border-width: 5px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.529), 0 0 5px white, 0 0 5px rgba(255, 255, 255, 0.768); 
  border-width: 5px;
             margin: auto;         
             border-radius: 50%;
     
         /* background-color: transparent; */
  background-image: linear-gradient(to bottom right, transparent, #15104a);
}
.nothing {
   height: 580px; 
   width: 330px;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 align-items: center;  
}
.picture {
   height: 560px; 
   width: 287px;
   padding: 0px;
     z-index: 3;
} 
.animated {
  transform-origin: 0 0;
  transform:rotate(45deg);
  transition-timing-function: linear;
  transition-property: bacground, transform;
  transition-duration: 6s;
  /*   animation: rotace 28s linear infinite;    */      
}



@keyframes rotace{
  0%{
      transform: scale(1);
      border-color: rgba(255, 255, 255, 0.529);
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.264), 0 0 5px rgba(255, 255, 255, 0.421), 0 0 20px rgba(255, 255, 255, 0.264);
      border-style: none;
  }
  15%{
    transform: scale(1);
    border: solid;
    border-color: rgba(255, 255, 255, 0.529);
    border-width: 2px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.529), 0 0 5px white, 1 1 2px rgba(255, 255, 255, 0.529); 
  }
  30%{
   transform: scale(1);
   border: solid;
      border-color:  white;
      border-width: 5px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.529), 0 0 5px white, 0 0 5px rgba(255, 255, 255, 0.768); 
}
  50%{
     transform: scale(1);
     border: solid;
    border-color:  rgba(255, 255, 255, 0.768);
    border-width: 8px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.529), 0 0 5px (255, 255, 255, 0.768), 0 0 10px rgba(255, 255, 255, 0.544); 
  }

  65%{
    transform: scale(1.1);
    border: solid;
      border-color:  rgba(255, 255, 255, 0.544);
      border-width: 11px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.421), 0 0 5px rgba(255, 255, 255, 0.544), 0 0 15px rgba(255, 255, 255, 0.421); 
  }
  80%{
    transform: scale(1.1);
    border: solid;
      border-color:  rgba(255, 255, 255, 0.544);
      border-width: 15px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.421), 0 0 5px rgba(255, 255, 255, 0.544), 0 0 15px rgba(255, 255, 255, 0.421); 
  }
  100%{
    transform: scale(1.2);
    border: solid;
      border-color:  rgba(255, 255, 255, 0.421);
      border-width: 20px;
      box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.264), 0 0 5px rgba(255, 255, 255, 0.421), 0 0 20px rgba(255, 255, 255, 0.264); 
  }
} 
/*========================================= UDAJE =============================================*/
#udaje {
  width: 100%;
  display: flex;
justify-content: center;
align-content: center;
background-color: #15104a;
padding: 10px;
padding-top: 20px;
}
.udaje-obal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}
.bile {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
}
.bile-nadpis{
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 19px;
  font-weight: bold;
}
#udaje p:hover{
  color: #f5a100;
  font-size: 25px;
  font-weight: bold;
}
.sekce1 {
  padding-left: 10px;
}
.sekce2 {
  text-align: center;
}
.sekce3 {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-self: center;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}
.sekce3 a {
  margin-left: 25px;
}
.sekce3 img {
  height: 60px;
}
.max:hover {
  transform: scale(1.5);
  /*box-shadow: 2px 2px 10px #f5a100, 0 0 10px #f5a100, 0 0 5px #f5a100;*/
  z-index: 2;
}
   /*========================================= NAVBAR =============================================*/
  #person {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 10px #f5a100;
   }
   .navbar {
    background: #15104a;}
  
  .navbar-brand {
    color: #15104a;
    font-size: 20px;
    font-weight: bold; }
  
  .navbar-toggler-icon {
    color: white; }
  
  .navbar-toggler {
    color: white; }
  
  .nav-link {
      color: white;
      font-family: 'Libre Baskerville', serif;
      font-size: 19px;
      font-weight: bold;
    }
    .nav-link a:active{
      color: #f5a100;
      font-size: 25px;
    }
/*=========================================SKILLS=============================================*/
/*.tecnology{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  flex:1 0;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
.tech{
  flex: 0 0 auto;
  padding: 0 0.8rem;
  margin-top: 2rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}*/
#skills{
  width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
}
.obal{
  padding: 20px;
  display: flex;
 // flex-direction: row;
 flex-direction: column;
justify-content: center;
  
 //margin: 0 auto;
 //  margin: auto 0;
}
.nadpis{
  padding: 35px;
  width: 100%;
  
  flex-direction: row;
  justify-self: center;
  text-align: center;
  padding: 15px;
}
.nadpis_pozadi{
  width: 90%;
background-size: cover;
align-content: center;
background-position: center;
background-repeat: no-repeat;
aspect-ratio: 1000 / 20;
 /* background: url(../images/retro.png) center no-repeat;  */
   background-image: url(../images/retro.png); 
  flex-direction: column;
  align-self: center;
  align-content: center;
align-items: center;
/* height: 60px; */
margin-bottom: 15px;
}
.pozadi {
  padding-top: 5px;
padding-bottom: 2px;


 
}
.prog-j{
  width: 100%;
  display: flex;
 flex-direction: row;
 justify-content:space-between;
// align-content: flex-start;
//margin: 0 auto;  
//margin:auto 0;
}
.boxik{
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 justify-content:flex-start;
  align-content: center;
  justify-items: center;
  align-items: center;
//margin: 0 auto;
//margin:auto 0;
}
.programy {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 justify-content:flex-start;
  align-content: center;
  justify-items: center;
  align-items: center;
}
.pr{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  margin: 10px;
  width: 120px;
  min-height: 120px;
  padding: 15px;
  border:#15104a solid 1px;
  border-radius: 15px;
  box-shadow: 10px 10px 10px rgba(27, 27, 94, 0.7);
}

.pr img {
  width:90%;
 padding-top: 0px; 
 padding-bottom: 0px;
}





   /*========================================= ABOUT =============================================*/
   #about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-pozadi{
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
  width: 100%;
}
.container-pozadi h2{
  padding-bottom: 0px;
  padding-top: 20px;
color: white;
text-shadow: 5px 5px 10px #f5a100;
  }
  .container-pozadi h3{
    color: white;
    text-align: center;
  }

.seznam{
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  font-weight: bold;
}
   .psaci{
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
}
.container-about {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about .psaci {
text-shadow: 2px 2px 10px #15104a, 0 0 10px #15104a, 0 0 5px #15104a;
}
/*========================================= HOBBIES =============================================*/
#hobbies{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


   /*========================================= PROJECTS =============================================*/
#projects{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.card{
  border-color: #15104a;
  border-width: 2px;
  z-index: 0;
}
.card-text{
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: black;
}
.card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(177, 224, 240);
  border-color: #15104a;
  border-width: 3px;
}

.btn .btn-secondary {
  font-weight: bold;
  margin: 2px;
}
h5 {
  font-weight: bolder;
  font-family: 'Alfa Slab One', cursive;
  color: #15104a;
  text-align: center;
  font-size: 25px;
}

.card img:hover {
  transform: scale(1.5);
  box-shadow: 5px 5px 10px #f5a100;
  z-index: 8;
}

.card img {
  z-index: 1;
}
.card-deck{
  z-index: 1;
}
.col .mb-3{
  z-index: 1;

}
 /*========================================= MORE =============================================*/
#more{
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

.kolotoce{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.pravy-carusel{
 width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.levy-carusel{
width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carusel-obsah{
  width: 100%;
  padding: 30px;
  background: url(../images/wall.jpg) center/cover no-repeat ;
  display: flex;
 flex-direction: column;
 align-content: center;
}

.kolotoc{
  padding: 30px;
  padding-bottom: 55px;
 background-color: #15104a;
 width: 100%;
  flex-direction: row;
 justify-content: center;
}
.carouselBody {
  width: 100%;
  max-width: 600px;
  position: relative;
  display: grid;
  /* šířka je nastavená na 100% čehokoliv, kam tento carousel vložíš, omezeno pouze maximální šířkou 440px*/
  /* Velikost lze měnit, ale pozor, je třeba přepočítat i aspect ratio a další hodnoty podle vzorce níže:*/
  /* 1. carousel ma padding a gap 20px */
  /* 2. obrazek zabira 100% carouselu a ma aspect ratio 1/1 */
  /* 3. spodni bunka gridu ma velikost zavisejici na velikosti pisma, ktere pouzijete */
  /* 4. tlacitka prev a next maji absolutni pozici, v zavislosti na velikosti a druhu pisma ve spodni bunce tabulky je treba upravit jejich pozicovani */
  
  aspect-ratio: 600/640;
  background-color: #15104a;
  padding: 25px;
  gap: 5px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    'foto'
    'title';
}
.carousel {
  grid-area: foto;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.slide > img {
  display: flex;
  width: 100%;
  height: 100%;
  /* OBJECT FIT: mate na vyber primarne ze 2 moznosti */
  /* 1. scale-down = obrazek se zmensi natolik, aby se vesel do divu cely se zachovanim pomeru stran*/
  /* 2. cover = roztahne obrazek tak, aby vyplnil cely div a oriznou se presahujici casti obrazku */
  object-fit: scale-down;
  object-position: center;
}
.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}
.carousel-button {
   color: white;
   background: transparent;
   border: 1px solid white;
   font-size: 20px;
   z-index: 2;
   position: absolute;
   /* pozice tlacitka, kde 100% znamena, ze se daji na samotny okraj obrazky a nasledne prictete o kolik pixelu od obrazku se maji jeste dodatecne posunout */
   top: calc(100% + 15px);
}
.carousel-button:hover,
.carousel-button:focus {
  background-color: rgba(0, 0, 0, .2);
}
.carousel-button.prev {
  left: 0px;
}
.carousel-button.next {
  right: 0px;
}
.carouselTitle {
   grid-area: title;
   justify-self: center;
   align-self: flex-start;
   text-align: center;
   color: white;
   margin: 0;
   padding-top: 20px;
}
.carousel-text {
  grid-area: popisek;
  justify-self: center;
  align-self: center;
  color: white;
  margin: 0;  
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}
.carousel-text1 {
  grid-area: popisek;
  justify-self: center;
  align-self: center;
  color: white;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
font-weight: bold;
}



 /*========================================= navic =============================================*/
#navic{
width: 100%;
background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  min-height: 800px;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
#navic h3{
  color: white;
}
#navic  .container .carousel h2{
    color: white;
      }
      #navic .container{
  padding-left: 30px;
padding-right: 30px;
width: 90%;
justify-content: center;
margin: 0 auto;
color:white;
 } 
 #navic  .project-text{
    justify-content: center;
    width: 600px;
  }
  #navic  .radek{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  #navic  .carousel-text{
    font-size: 1rem;
    color:white;
  }
  #navic  .carousel-inner{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
  }
#navic  .carousel-item{
    height: 600px;
    width: 600px;
    background-color:white;
   /* justify-content: center;
    align-content: center;*/
    margin: 0 auto;
    padding: auto;
  }
  #navic .carousel-item img {
   /* justify-content: center;*/
    margin: 0 auto;
    text-align: center;
  }
  #navic .darker {
    background-color: white;
    padding: 5px;
  }
  #navic .carousel-caption{
    background-color: rgba(8, 8, 29, 0.7);
  }



 /*========================================= CONTACTS =============================================*/
 #contact {
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  min-height: 750px;
  position: relative;
 
 /* background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;*/
}
#contact h3{
  color:#f5a100;
  text-shadow: 5px 5px 10px white;
}
.contact-bg {
 align-self: center;
    width: 900px;
    margin: 20px;
    border: 2px #15104a;
    border-radius: 20px;
      padding: 5px;
      background-color: rgba(8, 8, 29, 0.7);
      font-weight: bold;
        overflow: hidden;
      font-size: 2rem; 
    }

  label {
      font-family: 'Libre Baskerville', serif;
      font-size: 16px;
      color: white;
    }











 /*=========================================media=============================================*/ 
 
     @media screen and (max-width: 1400px) {
      .pozadi {
       height: 70px;
       padding-top: 15px;
       width: 100%;
      }
       }
 
 @media screen and (max-width: 1250px) {
/* #home {
  display: inline-block;
} */

.text-home {
  align-self: start;
 width: 50%;
 padding-bottom: 25px;
}

#bublina {
  width: 250px;
  right: 237px;
}
.pozadi {
  height: 60px;
  padding-top: 5px;
  width: 100%;
  aspect-ratio: 800 / 10;
 }
 }

 @media screen and (max-width: 1100px) {
  .text-home {
    align-self: start;
   width: 50%;
  }
  
  .pozadi {
    height: 60px;
    padding-top: 5px;
    width: 100%;
    aspect-ratio: 300 / 3;
   }
  
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 35px;
    text-justify: center;
  }
  h4{
    font-size: 28px;
    padding: 0px;
  }
   }



@media screen and (max-width: 955px) {
 body {
  font-size: 14px;
 } 
 .sekce3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}
.sekce3 img {
  height: 60px;
}
  //   home:
  #home{
    align-items: center;
    height: 700px;
   }
   #home_jmeno{  
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }
.text-home {
align-self: start;
  padding-bottom: 15px;
}
  #bublina {
    width: 280px; 
  }
   .nadpis {
    padding-top: 15px;
    padding-bottom: 5px;
    height: 120px;
   }
  
  h2{
    font-size: 40px;
  }
  h3{
    font-size: 35px;
    text-justify: center;
  }
  h4{
    font-size: 28px;
    padding: 0px;
  }
  // technologie:
  .obal{
    padding: 5px;
  }
  .boxik{
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .programy{
    padding: 0px;
  }
  .prog-j{
    padding-left: 10px;
    width: 100%;
    display: flex;
   flex-direction: column;
   justify-content:space-between;
  align-content: flex-start;
  align-items: flex-start;
  //margin: 0 auto;  
  //margin:auto 0;
  }
  .boxik{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   justify-content:flex-start;
    align-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
  //margin: 0 auto;
  //margin:auto 0;
  }
.programy {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content:flex-start;
   align-items: center;
  }
.pr {
  padding: 10px;
}
.contact-bg {
     width: 85%;
}

}


@media screen and (max-width: 796px) {
  h1{
    font-size: 3rem;
  }
  #home{
    height: 700px;
   }
  #home_jmeno{  
    padding-bottom: 60px;
  }
 
  .text-home {
    padding-top: 0px;
    max-width: 300px;
    font-size: 16px;
    justify-self: flex-start;
  }
  .pozadi{
    height: 100px;
  }
.boxik{
  padding-top: 10px;
  padding-bottom: 5px;
}
  .pr {
    width: 110px;
    margin: 5px;
    flex-wrap: wrap;
  }
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 35px;
  }
  h3{
    font-size: 28px;
    text-justify: center;
  }
  h4{
    font-size: 23px;
    padding: 0px;
  }
  .pravy-carusel{
    width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
   }
   .levy-carusel{
   width: 100%;
     display: flex;
     flex-direction: column-reverse;
     justify-content: space-between;
   }
   .udaje-obal {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    padding-top: 10px;
  }
  .sekce1 {
    padding: 20px;
    text-align: center;
  }
  .sekce3 {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-self: center;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
  }

}
@media screen and (max-width: 600px) {
#ja{
  height: 338px;
   width: 200px;
  position: absolute;
  top:80px;
  padding: 10px;
}  
.picture-ram {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
height: 338px;
   width: 200px;
}
.nothing {
  height: 338px;
  width: 200px; 
}
.picture {
  height: 350px;
  width: 179px;
} 
#bublina {
  width:150px;
 }
#home {  
  height: auto;
display: flex;
flex-direction: column-reverse;
align-items: center;
align-content: center;
justify-content: center;
justify-items: center;
width: 100%;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 10px;
padding-right: 10px;
}
#home_jmeno{ 
  width: 100%;
padding-top: 280px; 
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
justify-content: center;
z-index: 4;
}
.text-home {
  width: 90%;
/*   justify-self: center; */
  justify-content: center;
  text-align: center;
  align-self: center;
  padding-top: 15px;
padding-top: 0px;
padding-bottom: 10px;
padding-left: 0px;
padding-right: 0px;
}
h1{
  font-size: 33px;
}   
   #person {
    font-size: 1.5rem;
   }
}
@media screen and (max-width: 420px) {
  #person {
    display: none;
  }
  #home {  
    height: auto;
}
#home_jmeno{ 
  width: 100%;
padding-top: 230px;
}


  #bublina {
    display:none;
    width:50px;
   }
 /*   #home_jmeno{
    top: 400px;
    padding-left: 5px;
  } */

   .pozadi{
    height: 140px;
   }
   .contact-bg {
    width: 95%;
}
.bile {
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}
.bile-nadpis{
  color: white;
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: bold;
}
.sekce3 img {
  height: 40px;
}
p {
  font-size: 13px;
}
h2{
  font-size: 28px;
}
h3{
  font-size: 22px;
  text-justify: center;
}
h4{
  font-size: 19px;
  padding: 0px;
}
h5 {
  font-weight: bolder;
  font-family: 'Alfa Slab One', cursive;
  color: #15104a;
  text-align: center;
  font-size: 19px;
}
.carousel-text {
  padding-top: 5px;
  font-size: 10px;
}
.carousel-text1 {
  padding-top: 10px;
  font-size: 10px;

}
.card-text{
  font-size: 13px;
}
}