body {
  font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    background-color: white;
  }
  h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #15104a;
    text-align: center;
    
  }
  h3{
    font-family: 'Alfa Slab One', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #15104a;
  }
  h4{
    font-family: 'Alfa Slab One', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    color: #15104a;
  }

 /*=========================================HOME =============================================*/  
  #home {
    background: url(../images/pozadi3.jpg) center/cover no-repeat;
    min-height: 800px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 5px 5px 10px #f5a100;
  padding: 15px;
  }  
  #ja{
height: 800px;
  }  
 
  

   /*========================================= NAVBAR =============================================*/
   #person {
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 5px 5px 10px #f5a100;
   }
   .navbar {
    background-image: linear-gradient(to right, white , #15104a);}
  
  .navbar-brand {
    color: #15104a;
    font-size: 20px;
    font-weight: bold; }
  
  .navbar-toggler-icon {
    color: white; }
  
  .navbar-toggler {
    color: white; }
  
  .navbar a {
    color: white; }
/*=========================================SKILLS=============================================*/
/*.tecnology{
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  flex:1 0;
  width: 100%;
  height: 90px;
  max-width: 1440px;
  margin: 0 auto;
}
.tech{
  flex: 0 0 auto;
  padding: 0 0.8rem;
  margin-top: 2rem;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
ul {
  list-style: none;
}*/
#skills{
  width: 100%;
display: flex;
}
.obal{
  padding: 20px;
  display: flex;
 // flex-direction: row;
 flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
 margin: 0 auto;
 //  margin: auto 0;
}
.nadpis{
  padding: 20px;
  width: 100%;
  flex-direction: row;
  justify-self: center;
  text-align: center;
//  margin: 0 auto;
}
.prog-j{
  padding: 20px;
  width: 100%;
  display: flex;
 flex-direction: row;
 justify-content:space-between;
//align-items: flex-start;
// margin: 0 auto;  
// margin:auto 0;
}
.boxik{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  flex-wrap: wrap;
margin: 0 auto;
margin:auto 0;
}
.pr{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}
.pr img {
  width:100px;
}
   /*========================================= ABOUT =============================================*/
   #about {
  width: 100%;
  
  display: flex;
  justify-content: center;
}

.container-pozadi{
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
    padding: 30px;
  justify-content: center;
  color: white;
    
}
.container-pozadi h2{
  padding: 15px;
  padding-top: 20px;
color: white;
text-shadow: 5px 5px 10px #f5a100;
  }
  .container-pozadi h3{
    color: white;
    text-align: center;
  }

.seznam{
  text-align: left;
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  font-weight: bold;
}
   .psaci{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
/*========================================= HOBBIES =============================================*/
#hobbies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}


   /*========================================= PROJECTS =============================================*/
#projects{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.kolotoce{
  display: flex;
 // width: 100%;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
.pravy-carusel{
 // width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.levy-carusel{
width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
}
.carusel-text{
  width: 100%;
  padding: 15px;
background-color: lightblue;

}


.kolotoc{
  width: 100%;
  padding: 15px;
 background-color: #15104a;

}
 /*========================================= navic =============================================*/
#navic{
width: 100%;
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  min-height: 800px;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}
#navic h3{
  color: white;
}
#navic  .container .carousel h2{
    color: white;
      }
      #navic .container{
  padding-left: 30px;
padding-right: 30px;
width: 90%;
justify-content: center;
margin: 0 auto;
color:white;
 } 
 #navic  .project-text{
    justify-content: center;
    width: 600px;
  }
  #navic  .radek{
    display: flex;
    width: 80%;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }
  #navic  .carousel-text{
    font-size: 1rem;
    color:white;
  }
  #navic  .carousel-inner{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 0 auto;
  }
#navic  .carousel-item{
    height: 600px;
    width: 600px;
    background-color:white;
   /* justify-content: center;
    align-content: center;*/
    margin: 0 auto;
    padding: auto;
  }
  #navic .carousel-item img {
   /* justify-content: center;*/
    margin: 0 auto;
    text-align: center;
  }
  #navic .darker {
    background-color: white;
    padding: 5px;
  }
  #navic .carousel-caption{
    background-color: rgba(8, 8, 29, 0.7);
  }



 /*========================================= CONTACTS =============================================*/
 #contact {
  width: 100%;
  background: url(../images/pozadi-tmave.jpg) center/cover no-repeat ;
  display: flex;
  justify-content: center;
  padding: 15px;
}
.contact-bg {
    
    width: 500px;
    margin: 20px;
    border: 2px #15104a;
    border-radius: 20px;
      padding: 10px;
      background-color: rgba(8, 8, 29, 0.7);
      font-weight: bold;
        overflow: hidden;
      font-size: 2rem; 
    }

  label {
      font-family: 'Libre Baskerville', serif;
      font-size: 16px;
      color: white;
    }











 /*=========================================media=============================================*/ 
 @media screen and (max-width: 1039px) {
   #ja{
     height: 600px;
   }
  h1{
    font-size: 3rem;
  }
}






